.show_table  tr  td:nth-child(7) {
    background-color: #f9f900;
    color: #003d00;
}

.show_message { /* dasha */
    white-space: normal;
}

@media screen and (max-width: 950px) {
    .show_table  tr  td:nth-child(4)  {  display:none;  }
    .show_table  tr  td:nth-child(9) {  display:none;  }
}

@media screen and (max-width: 600px) {
    .show_table  tr  td:nth-child(5) {  display:none;  }
    .show_table  tr  td:nth-child(6) {  display:none;  }
    .show_table  tr  td:nth-child(9) {  display:none;  }
}

.tooltip{
    display: inline;
    position: relative;
    white-space: normal;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;

}